html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}



body {
    background-color: #062f4f;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Merriweather,'Helvetica Neue',Arial,sans-serif;
    /*font-family: sans-serif; */
}

main {
    margin: auto 0px;
    text-align: center;
    overflow: hidden;
}

/*Styling*/


hr {
    max-width:200px;
    border-width:3px;
    border-color:#813772;
    background-color: #813772;
}


a {
    color:white;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    transition:all .2s;
}

a:hover, a:focus {
    font-weight: bold;
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6{
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif
}

p {
    font-size:16px;
    line-height:1.5;
    margin-bottom:20px
}

.bg-primary {
    background-color:#062f4f!important
}

.bg-dark{
    color:#fff;
    background-color:#222!important
}

.text-faded{
    color:rgba(255,255,255,.7)
}

.section-heading{
    margin-top:0
}

::-moz-selection{
    color:#fff;
    background:#222;
    text-shadow:none
}
::selection{
    color:#fff;
    background:#222;
    text-shadow:none
}

section.masthead{
    width:100%;
    min-height:auto;
    text-align:center;
    color:#fff;
    background-image:url("/Images/Banner3.jpg");
    background-position:center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover
}

section.masthead .header-content{
    padding:150px 15px 100px;
    text-align:center
}

section.masthead .header-content .header-content-inner h1{
    font-size:30px;
    font-weight:700;
    margin-top:0;
    margin-bottom:0;
    text-transform:uppercase
}

section.masthead .header-content .header-content-inner hr{
    margin:30px auto
}

section.masthead .header-content .header-content-inner p{
    font-size:16px;
    font-weight:300;
    margin-bottom:50px;
    color:rgba(255,255,255,.7)
}

@media (min-width:768px){
    
    section.masthead .header-content .header-content-inner{
        max-width:1000px;
        margin-right:auto;
        margin-left:auto
    }

    section.masthead .header-content .header-content-inner h1{
        font-size:50px
    }

}



.btn-default{
    color:#222;
    border-color:#fff;
    background-color:#fff
}



.btn{
    font-weight:700;
    text-transform:uppercase;
    border:none;
    border-radius:300px;
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
    padding: 10px;
}

.bg-primary {
    text-align: center;
}

.bg-primary h2 {
    color: white;
}

.bg-primary h2:hover {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.bg-primary ol {
    margin-bottom: 30px;
    text-align: left;
}

ol.text-faded {
    width: 50%;
    margin: 0px auto;
}

.bg-primary ol a {
    color: #fff;
}

img {
    margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
    .section-content img {
        width: 250px;
    }
}

.images {
    text-align: center;
}

.images img {
    border: 2px solid black;
}

/*Contact*/

#contact {
    background-color: white;
    /*margin-top: 100px;*/
}

#contact h2 {
    color: black;
    text-align: center;
}

.contactp {
    text-align: center;
    margin: auto;
}

.contactpoints {
    text-align: center;
}

/*Page Header*/
section {
    text-align: center;
}

.masthead img {
    width: 750px;
    background-color: #D4DCE3;
}

.resize img {
    width: 50px;
}

h1#homeheading {
    background-color: #053050;
}


/*Headers*/

h1, h2 {
    color: #D4DCE3;
}

h2 {
    font-size: 2rem;
}


.showfields {
    font-size: 1.1em;
    color: #ecf5fc;
    font-weight: 900;
}

/*Directions*/

.row {
    padding: 10px;
}

/*Form*/

form {
    margin-top: 20px;
}

.userinput {
    height: 50px;
    font-size: 30px;
    display: block;
    margin: 0px auto;
    font-family: sans-serif;
}

/*Footer*/

footer {
    background-color: #fff;
    color: #222;
    position: absolute;
    width: 100%;
}

footer h2 {
    color: #222;
}

footer a {
    color: #222;
}

footer img {
    width: 50px;
}

footer a:hover {
    color: #062f4f;
    text-decoration: underline;
}


/*Small Header*/

.small-header {
    width: 100%;
    max-height: 130px;
    background-color: #062f4f;
    overflow: hidden;
    position: fixed;
    top: 0;
    margin-bottom: 150px;
}

.small-header img {
    width: 300px;
    margin: 20px;
    background-color: #d4dce3;
    float: left;
}

span.login-here {
    font-size: 40px;
    float: right;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    cursor: hand;
}

i.fa.fa-plus-circle {
    float: right;
    position: absolute;
    top: 40px;
    font-size: 40px;
}

i.fa.fa-plus-circle:hover {
    cursor: pointer;
    cursor: hand;
}

section.right-elements {
    float: right;
    display: inline-flex;
    margin-right: 20px;
}

section.plus-sign {
    margin-right: 40p;
    padding: 20px;
    position: relative;
    bottom: 6px;
}


@media screen and (max-width: 800px) {
    .small-header {
        margin-bottom: 0px;
        overflow: initial;
        height: 100px;
        position: relative;
    }
    .small-header-logo {
        display: none;
    }
    .small-header img {
        display: none;
    }
    section.small-header > section.right-elements {
        margin: 0px auto;
        width: 100%;
        align-content: center;
    }
    section.small-header > section.right-elements > a {
        margin: 0px auto;
    }
}


/*Login Section*/
.login, .register {
    padding-bottom: 100px;
    margin-top: 180px;
}

.login h1, .register h1 {
    align-content: center;
    color: white;
}

.login form, .register form {
    margin: auto 10px;
    margin-bottom: 18px;
}

.username, .password, .usernameregister, .firstname, .lastname {
    height: 30px;
}

.password, .passwordregister, .passwordconfirm {
    -webkit-text-security: disc;
    height: 30px;
    font-size: 20px;
}

.login label, .register label {
    color: white;
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

.login .submit input, .register .submit input {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    border: none;
    background-color: #813772;
    color: white;
    font-size: 20px;
}

.testlogin span {
    display: inline-block;
}

label.loginerror {
    color: red;
    font-size: 22px;
}

/*Register Form*/
/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */
 #playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}
body, html{
 	font-family: 'Oxygen', sans-serif;
	background-size: cover;
}

.main{
 	margin:50px 15px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	/*background-color: #fff;*/
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.form-control {
    height: auto!important;
padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
    padding: 10px 40px;
	    color: #FFF;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}


/*Password Confirmation*/
.passwarning1, .passwarning2 {
    color: red;
    display: inherit;
}

/*Register*/

section {
    color: white;
    font-size: 20px;
}

.submit {
    margin-top: 10px;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    display: block;
    align-content: center;
    margin: 0px auto;
    margin-top: 20px;
    background-color: #803872;
}

button.showlogin {
    background-color: #813772;
    border: none;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin: 0px auto;
    display: block;
    margin-top: 20px;
    align-content: center;
}

/*Test Login Information*/

.testlogin {
    margin: auto;
    margin-bottom: 20px;
}

.testlogin, .newuser span {
    display: block;
    color: white;
    font-size: 20px;
}

.loginerror {
    color: red;
}

.newuser {
    margin-top: 50px;
    margin: auto 10px;
}

.newuser button {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #813772;
    color: white;
    font-size: 20px;
}

/*Form Section*/

.formsection {
    margin: auto 0px;
    background-color: #062f4f;
    margin-top: 180px
}

.formsection form {
    display: inline-block;
    margin: auto 10px;
}

.greeting {
    color: white;
}

form textarea {
    width: 400px;
    height: 100px;
}

form input {
    width: 400px;
    height: 100px;
}

.formsection .submit input {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    border: none;
    background-color: #813772;
    color: white;
    font-size: 20px;
}


.formsection label {
    color: white;
    font-size: 20px;
    display: block;
}

.refreshbutton {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #813772;
    color: white;
    font-size: 20px; 
}

/*read more*/

.readmore {
    margin-top: 10px;
    background-color: #813772;
    min-height: 200px;
    width: 70%;
    margin: 0px auto;
    color: white;
}

.readmore a {
    display: block;
}

.readmore > form > input[type="button"] {
    border: none;
    width: 200px;
    height: 50px;
    background-color: #813772;
    color: white;
    font-size: 20px;
}

.readmorecontent {
    padding: 40px;
    margin-top: 170px;
}

img.sourceimage {
    width: 50%;
}

/*Edit Resource*/

.editformsection {
    margin-top: 15px;
}

.editform {
    margin: auto 10px;
    background-color: #062f4f;
    padding-top: 1px;
    margin-top: 150px;
}

.editform form {
    display: inline-block;
    margin: auto 10px;
}

.editform .submit input {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
    border: none;
    background-color: #813772;
    color: white;
    font-size: 20px;
}

.editform .close input {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #813772;
    color: white;
    font-size: 20px;
}

input[type="close"] {
    text-align: center;
}

.editform label {
    color: white;
    font-size: 20px;
    display: block;
}

/*Resource Section*/

.grid {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 150px;
}

.resource {
    background-color: #B82601;
    width: 300px;
    color: white;
    display: inline-block;
    margin: 5px;
    font-size: 20px;
}

.resource img {
    width: 300px;
    margin-top: 15px;
}

.resource span {
    position: relative;
}

.grid a {
    color: white;
}

.delete-request button, .edit-request button, .link button {
    width: 50%;
    border: none;
    background-color: #813772;
    color: white;
    font-size: 20px;
    margin: 4px;
}

.delete-request button:hover, .edit-request button:hover, .link button:hover {
    width: 50%;
    border: none;
    background-color: #062f4f;
    color: white;
}

.clickableitems {
    text-align: center;
    padding-bottom: 10px;
}

/*Main Media Queries*/

@media screen and (max-width: 800px) {
    /**/
    .header-content img {
        width: 90%;
    }
    /*Login */
    button.registerbutton, div.login > form > div > input[type="submit"], .testlogin span, .newuser span, .username, .password, .usernameregister, .firstname, .lastname   {
        font-size: 28px;
    }
    .login label, .register label {
        font-size: 28px;
    }
    /*Contact Form*/
    .contactp {
        font-size: 24px;
    }

    .contactpoints p {
        font-size: 24px;
    }
}

@media screen and (max-width: 700px) {

    #homeheading {
        background-color: #813772;
        width: 80%;
        margin: auto;
    } 
}

@media screen and (max-width: 600px) {
    /*Landing Page*/
    .linktoapp {
        margin: auto 0px;
    }
    .projdescription {
        font-size: 22px;
    }
    .landinglogo img {
        width: 200px;
    }
    .login input {
        width: 80%;
        font-size: 20px;
    }
    .title, .description, .link {
        width: 300px;
        font-size: 18px;
    }
    /*Banner*/
    section.masthead .header-content {
        padding: 50px 10px 10px;
    }
    /*Register*/
    form.registerform input {
        width: 80%;
        font-size: 20px;
    }
    /* Resource Section*/
    .resource {
        width: 300px;
    }
    span button, section button {
        font-size: 20px;
        margin: 5px;
    }

}

.minimize {
    height: 200px;
}

/*Hidden*/

.hidden {
    display: none;
}

/*Card*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
.card .card-image{
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card .card-image img{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.card .card-image:hover img{
    -webkit-transform: scale(1.2) rotate(-7deg);
    -moz-transform: scale(1.2) rotate(-7deg);
    -ms-transform: scale(1.2) rotate(-7deg);
    -o-transform: scale(1.2) rotate(-7deg);
    transform: scale(1.2) rotate(-7deg);
}

.card{
    font-family: 'Roboto', sans-serif; 
    margin-top: 10px;
    position: relative;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card .card-content {
    padding: 10px;    
}

.card .card-content .card-title, .card-reveal .card-title{
    font-size: 24px;
    font-weight: 200;    
}

.card .card-action{
    padding: 20px;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}

.card .card-reveal{    
    padding: 20px;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    overflow-y: auto;
    /*top: 0;*/
    left:0;
    bottom:0;
    height: 100%;
    z-index: 1;
    display: none;    
}

.card .card-reveal p{
    color: rgba(0, 0, 0, 0.71);
    margin:20px ;
}

.btn-custom{
    background-color: transparent;
    font-size:18px;
}

div.card-content > span {
    display: inline-block;
}

span.card-description {
    margin-top: 40px;
}


i.fa.fa-plus-circle:hover, i.fa.fa-power-off:hover {
    color: #b82701;
}

#loading-img {
    background: url(http://preloaders.net/preloaders/360/Velocity.gif) center center no-repeat;
    height: 100%;
    z-index: 20;
}

.overlay {
    background: #e9e9e9;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}