main {
    width: 80%;
    margin: auto;
}

/*Login Section*/
.login, .register {
    background-color: blue;
    padding-bottom: 100px;
}

.login h1, .register h1 {
    align-content: center;
    color: white;
}

.login form, .register form {
    margin: auto 10px;
}

.username, .password, .usernameregister, .firstname, .lastname {
    height: 30px;
}

.password, .passwordregister, .passwordconfirm {
    -webkit-text-security: disc;
    height: 30px;
    font-size: 20px;
}

.login label, .register label {
    color: white;
    display: block;
    font-size: 20px;
}

.login .submit input, .register .submit input {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: green;
    color: white;
    font-size: 20px;
}

/*Test Login Information*/

.testlogin {
    margin: auto;
    margin-bottom: 20px;
}

.testlogin, .newuser span {
    display: block;
    color: white;
    font-size: 20px;
}

.loginerror {
    color: red;
}

.newuser {
    margin-top: 50px;
    margin: auto 10px;
}

.newuser button {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: green;
    color: white;
    font-size: 20px;
}

/*Form Section*/

.formsection {
    margin: auto 0px;
    background-color: green;
    padding-top: 1px;
}

.formsection form {
    display: inline-block;
    margin: auto 10px;
}

.greeting {
    color: white;
}

form textarea {
    width: 400px;
    height: 100px;
}

form input {
    width: 400px;
    height: 100px;
}

.formsection .submit input {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: blue;
    color: white;
    font-size: 20px;
}

.formsection label {
    color: white;
    font-size: 20px;
    display: block;
}

/*Edit Resource*/

.editformsection {
    margin-top: 15px;
}

.editform {
    margin: auto 10px;
    background-color: orange;
    padding-top: 1px;
}

.editform form {
    display: inline-block;
    margin: auto 10px;
}

.editform .submit input {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: green;
    color: white;
    font-size: 20px;
}

.editform label {
    color: white;
    font-size: 20px;
    display: block;
}

/*Resource Section*/

#grid {
    display: inline-block;
}

.resource {
    background-color: blue;
    width: 200px;
    color: white;
    display: inline-block;
    margin: 5px;
}

.resource span {
    position: relative;
    display: block;
}

#grid a {
    color: white;
}

.delete-request button, .edit-request button, .link button {
    width: 50%;
    border: none;
    background-color: #088001;
    color: white;
}

.delete-request button:hover, .edit-request button:hover, .link button:hover {
    width: 50%;
    border: none;
    background-color: blue;
    color: white;
}

.clickableitems {
    text-align: center;
    padding-top: 10px;
}


/*Hidden*/

.hidden {
    display: none;
}

